<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="card" style="width: 18rem; background-color: rgb(34, 122, 96); color: white;">
        <div class="card-body">
            <h5 class="card-title">Visualiser les transactions</h5>
            <p class="card-text">Visualisez les transactions effectuées.</p>
            <a href="{% url 'diagrammedesproduit' %}" class="btn btn-primary">Visualiser</a>
        </div>
    </div>
</body>
</html>